
<div class='mt-5'>
    <h1 class='animated fadeIn fast'>Sobre Comics Art</h1>

    <p class='animated fadeIn'>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam neque incidunt maiores maxime. Dolorem veritatis facilis explicabo delectus saepe magni natus voluptate deserunt ipsa repudiandae optio, aut aperiam praesentium accusantium.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste quidem est cumque voluptates architecto velit repellat excepturi necessitatibus blanditiis hic voluptatem illo minus, aliquam consectetur distinctio itaque! Ea, voluptatum eveniet?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique exercitationem culpa eum aliquid magnam perferendis fuga asperiores porro. Quis dignissimos alias dicta? Exercitationem deserunt tempore animi velit hic provident natus?
    </p>
</div>