<h1 class='mb-1 mt-1'>Buscando:  <small>{{ termino }}</small></h1>
<div *ngIf=" mensaje != '' " class=" alert alert-warning" role="alert">
    <span>No se encontro resultado con la palabra: {{ termino }}</span>
</div>
<div class='card-columns'>
    <div class="card" *ngFor="let hero of heros ; let i = index">
        <img class='animated fadeIn fast' [src]="hero.img" class="card-img-top" [alt]="hero.nombre">
        <div class="card-body animated fadeIn">
            <h5 class="card-title">{{ hero.nombre | uppercase }}</h5>
            <hr>
            <p class="card-text">{{ hero.bio | slice:0:300  }}...</p>
            <p class="card-text"><small class="text-muted">Aparicion: {{ hero.aparicion }}</small></p>
            <button (click)="verHero(i)" class="btn btn-outline-primary btn-block">
                Leer mas...
            </button>
        </div>
    </div>
</div>
